BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
BreakBeforeTernaryOperators: true
ColumnLimit: 120
EmptyLineBeforeAccessModifier: Never
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
PenaltyReturnTypeOnItsOwnLine: 10000
PointerAlignment: Left
SpaceInEmptyBlock: false
Standard: c++17
...
