# IDE specific ignores
.vs/*
.vscode/*
CMakeSettings.json

# output specific ignores
build/
out/
debug/
*.ini

# content specific ignores
# users can put their content within the content directory without causing git problems
content/*
!content/README.md
# only SRD content can be released on GitHub
content_imperial/*
!content_imperial/README.md
!content_imperial/LICENSE
!content_imperial/example_campaign
!content_imperial/general
content_imperial/general/*
!content_imperial/general/srd
content_metric/*
!content_metric/README.md
!content_metric/LICENSE
!content_metric/example_campaign
!content_metric/general
content_metric/general/*
!content_metric/general/srd
