name: Clang-Format

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: ["main"]


jobs:
  Clang-Format-Checking:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install clang-format-21
      run: |
        wget https://apt.llvm.org/llvm.sh
        sudo bash llvm.sh 21 all
        clang-format-21 --version

    - name: Check format of C++ files
      working-directory: ${{ github.workspace }}
      run: ${{ github.workspace }}/.github/workflows/check_file_formats.sh

